/******Main******/

* {
  box-sizing: border-box;
  color: #fbb141;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(rgb(39, 35, 85), rgb(40, 56, 145)10%, rgb(39, 35, 85));
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100%;
}

p {
  margin: 1.5%;
}

footer {
  text-align: center;
}

.name-logo {
  width: 100%;
  position: fixed;
  padding: 25px 20px;
  margin: auto;
  z-index: -1;
}

.logo {
  width: 100%;
}

.test img {
  max-height: 50%;
  max-width: 100%;
}


/********TO PAGE LINKS**********/

.to-more-pages {
  text-transform: uppercase;
  font-size: .7em;
  display: block;
  text-align: right;
  padding: 2%;
}

.to-more-pages a:hover {
  color: #ffca7b;
}

.section h2 {
  margin: 1%;
  cursor: pointer;
  padding: 1.5%;
}

.section h2:hover {
  background: rgba(14, 12, 29, 0.2);
}


/********HOME(LOGO)*********/

#new-album-info {
  background: linear-gradient(to bottom, rgba(14, 12, 29, 0), rgba(14, 12, 29, 0.2)15%, rgba(14, 12, 29, 0.2)85%, rgba(14, 12, 29, 0));
  padding: 1%;
}

#new-album-info h1 {
  font-size: 2em;
  padding: 1%;
}

#new-album-info p {
  margin-top: 4%;
}


/********SECTION IMAGES**********/

.section {
  border-bottom: 1px dotted #fbb040;
  margin: 0 1.25%;
}

.section img {
  max-width: 100%;
  border: 1px solid #fbb040;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
}

.section div {
  margin: 0 1.25%;
}

#logo {
  border: none;
  box-shadow: none;
  width: 100%;
}

.home {
  text-align: center;
}


/********Page Tabs**********/

.pageSelectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*********Social Media Icons*********/

.social-media {
  padding: 1%;
  margin-bottom: 2%;
}

.social-media ul {
  display: flex;
  padding: 0px;
  align-content: space-between;
  width: 80%;
  margin: auto;
}

.social-media ul li {
  list-style: none;
  padding: 0 1%;
  text-align: center;
}

.social-media img {
  border-radius: 22%;
  width: 75%;
}

.social-media img:hover {
  filter: brightness(120%);
}


/********************PHOTO************************/

#image-gallery {
  display: flex;
  flex-direction: column;
}

#image-gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 2%;
}

#image-gallery img {
  border: none;
}

#image-gallery img:hover {
  filter: brightness(1.25);
}

.photo ul li {
  list-style: none;
  width: 50%;
  justify-content: space-around;
  margin-bottom: -4px;
}

.bio-page img {
  width: 100%;
}

.photo {
  border-top: 1px dotted #fbb040;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

#overlay img {
  width: 100%;
  margin-top: 80%;
}

#overlay p {
  color: #fdc571;
  margin: auto;
  padding: 1.25%;
  width: 100%;
  text-align: center;
}


/********VIDEO**********/

.video video {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  border-radius: 3px;
}


/********AUDIO**********/

.music-player {
  display: flex;
  flex-direction: column;
}


/********BIO**********/

.bio-page p {
  padding: 0 15px;
}

.member-list {
  display: flex;
  border-bottom: 1px dotted #fbb040;
  justify-content: space-around;
}

.member-list ul {
  padding: 0px;
  margin: auto;
}

.member-list li {
  list-style: none;
  padding: 5px;
  text-align: center;
}

.bio-page img {
  padding: 15px 0px;
}


/********PRESS AND PERFORMANCE**********/

.press-content {
  display: flex;
  flex-flow: column wrap;
}

.press-content li {
  list-style-type: none;
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.25%;
}

#article {
  border: 1px solid #fbb040;
  padding: 2%;
  margin-bottom: 5%;
}

#article:hover {
  filter: brightness(120%);
}


/********CALENDAR**********/

.calendar-content {
  display: flex;
  flex-flow: column wrap;
}

.calendar-content iframe {
  margin: auto;
  margin-bottom: 5%;
}


/********BOOKING/CONTACT**********/

.contact-form {
  display: flex;
  flex-direction: column;
}

.booking-inqueries,
.contact-inqueries {
  display: flex;
  margin-bottom: 5%;
}

.booking-inqueries label,
.contact-inqueries label {
  padding: 1.25%;
}

.contact-inqueries input,
.contact-inqueries textarea {
  width: 100%;
  justify-content: center;
  color: rgb(42, 35, 80);
}

.booking-inqueries textarea,
.contact-inqueries textarea {
  width: 100%;
}

.contact-form button {
  background: #fbb040;
  color: rgb(42, 35, 80);
  border-width: 0px;
  padding: 2%;
  font-size: 1em;
  border-radius: 3px;
  width: 75%;
  margin: auto;
  margin-bottom: 5%;
  cursor: pointer;
}


/*********Pop-Up Content*********/

#pop-up {
  text-align: center;
  height: 15%;
  width: 90%;
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 5%;
  background: rgba(232, 243, 255, 0.85);
  padding: 3%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.6);
}

#pop-up h1,
#pop-up p,
#pop-up button {
  color: #c18b3b;
  margin: auto;
}

#pop-up button {
  width: 50%;
  padding: 1.25%;
}


/***********media query for small mobile screens in portrait*************/

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  .section {
    border-bottom: 3px dotted #fbb040;
  }
  /**********Adjustments to text on index page***********/
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.75em;
  }
  .photo p {
    font-size: 1.75em;
  }
  #new-album-info h1 {
    font-size: 4em;
    padding: 1%;
  }
  #new-album-info p {
    margin-top: 4%;
  }
  .contact-inqueries {
    font-size: 2em;
  }
  .contact-inqueries input,
  .contact-inqueries textarea {
    font-size: 2em;
  }
  /**********Adjustments to Photos overlay on Index***********/
  #overlay {
    height: 200%;
  }
  #overlay img {
    margin-top: 80%;
  }
  
  
}
