/******Main******/

* {
  box-sizing: border-box;
  color: #fbb141;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(rgb(39, 35, 85), rgb(40, 56, 145), rgb(39, 35, 85));
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100%;
}

p {
  margin: 1.5%;
}

img {
  width: 100%;
}


/********TO PAGE LINKS**********/

.to-more-pages {
  background: linear-gradient(to left, rgba(0,0,0,.25), rgba(0,0,0,0));
  text-transform: uppercase;
  font-size: .7em;
  display: block;
  text-align: right;
}

.to-more-pages a {
  display: block;
  padding: 2%;
}

.to-more-pages a:hover {
  filter: brightness(1.25);
}

.section h2 {
  margin: 0;
  cursor: pointer;
  padding: 3.5%;
}

.section h2:hover {
  background: rgba(14, 12, 29, 0.2);
}


/********HOME(LOGO)*********/

.logo {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  padding: 5%;
}

.bandPhotoMainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10%;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.bandPhotoMainPage:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 0px 10px 2px rgba(0,0,0,.15);
}

.bandPhotoMainPage div {
  width: 50%;
  padding: 5%;
}

.bandPhotoMainPage h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.bandPhotoMainPage img {
  align-self: center;
  box-shadow: 5px 10px 2px -2px rgba(0,0,0,.5);
  transform: rotate(3deg);
}

/********SECTION IMAGES**********/

.section {
  border-bottom: 1px dotted #fbb040;
  background: rgba(14, 12, 29, 0.2);
  margin: 0;
}

.section img {
  max-width: 100%;
  border-top: 1px solid #fbb040;
  border-bottom: 1px solid #fbb040;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
}

.sectionListElements {
  max-width: 1680px;
}

.section div {
  margin: 1% 0;
}

#logo {
  border: none;
  box-shadow: none;
  width: 100%;
}

.home {
  text-align: center;
}


/********Page Tabs**********/

.pageSelectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*********Social Media Icons*********/

.social-media {
  padding: 1%;
  margin-bottom: 12%;
}

.social-media ul {
  display: flex;
  padding: 0px;
  align-content: space-between;
  width: 80%;
  margin: auto;
}

.social-media ul li {
  list-style: none;
  padding: 0 1%;
  text-align: center;
}

.social-media img {
  border-radius: 22%;
  width: 75%;
}

.social-media img:hover {
  filter: brightness(120%);
}


/********************PHOTO************************/

#image-gallery {
  display: flex;
  flex-direction: column;
}

#image-gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 2%;
}

#image-gallery img {
  border: none;
}

#image-gallery img:hover {
  filter: brightness(1.25);
}

.photo ul li {
  list-style: none;
  width: 50%;
  justify-content: space-around;
  margin-bottom: -4px;
}

.bio-page img {
  width: 100%;
}

.photo {
  border-top: 1px dotted #fbb040;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

#overlay img {
  width: 100%;
  margin-top: 80%;
}

#overlay p {
  color: #fdc571;
  margin: auto;
  padding: 1.25%;
  width: 100%;
  text-align: center;
}


/********VIDEO**********/

.video video {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  border-radius: 3px;
}


/********AUDIO**********/

#music-player {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#music-player iframe {
  margin: auto;
}


/********BIO**********/

.bio-page p {
  padding: 0 15px;
  text-align: left;
}

.member-list {
  display: flex;
  border-bottom: 1px dotted #fbb040;
  justify-content: space-around;
}

.member-list ul {
  padding: 0px;
  margin: auto;
}

.member-list li {
  list-style: none;
  padding: 5px;
  text-align: center;
}

.bio-page img {
  padding: 15px 0px;
}


/********PRESS AND PERFORMANCE**********/

.press-content {
  display: flex;
  flex-flow: column nowrap;
}

.articleTitle {
  list-style-type: none;
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.25%;
}

.articles {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-flow: column nowrap;
}

.article {
  margin: auto;
  border: 1px solid #fbb040;
  padding: 2%;
  background: rgba(0,0,0,.35);
}

.article:hover {
  filter: brightness(120%);
}


/********CALENDAR**********/

.calendar-content {
  display: flex;
  flex-flow: column wrap;
}

.calendar-content iframe {
  margin: auto;
  margin-bottom: 5%;
}


/********BOOKING/CONTACT**********/

.contact-form {
  display: flex;
  flex-direction: column;
}

.booking-inqueries,
.contact-inqueries {
  display: flex;
  margin-bottom: 5%;
}

.booking-inqueries label,
.contact-inqueries label {
  padding: 1.25%;
}

.contact-inqueries input,
.contact-inqueries textarea {
  width: 100%;
  justify-content: center;
  color: #2a2350;
  font-size: 1.25em;
}

.booking-inqueries textarea,
.contact-inqueries textarea {
  width: 100%;
}

.contact-form button {
  background: #fbb040;
  color: rgb(42, 35, 80);
  border-width: 0px;
  padding: 2%;
  font-size: 1em;
  border-radius: 3px;
  width: 75%;
  margin: auto;
  margin-bottom: 5%;
  cursor: pointer;
}

.contact-form button:hover {
  box-shadow: 0 0 10px 5px rgba(0,0,0,.25);
  color: #fff;
}


/*********Pop-Up Content*********/

#pop-up {
  text-align: center;
  height: 15%;
  width: 90%;
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 5%;
  background: rgba(232, 243, 255, 0.85);
  padding: 3%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.6);
}

#pop-up h1,
#pop-up p,
#pop-up button {
  color: #c18b3b;
  margin: auto;
}

#pop-up button {
  width: 50%;
  padding: 1.25%;
}


/***********media query for small mobile screens in portrait*************/

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  .section {
    border-bottom: 3px dotted #fbb040;
  }
  /**********Adjustments to text on index page***********/
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.75em;
  }
  .photo p {
    font-size: 1.75em;
  }

  #new-album-info h1 {
    font-size: 4em;
    padding: 1%;
  }
  #new-album-info p {
    margin-top: 4%;
  }
  .contact-inqueries {
    font-size: 2em;
  }
  .contact-inqueries input,
  .contact-inqueries textarea {
    font-size: 2em;
  }
  /**********Adjustments to Photos overlay on Index***********/
  #overlay {
    height: 200%;
  }
  #overlay img {
    margin-top: 80%;
  }
  
  
  /**********Adjustments to Videos on Index***********/
  #video-players video {
    width: 80%;
  }
  
  
  /**********Adjustments to Audio on Index***********/
  #music-player iframe {
    margin: auto;
  }
  
  
  /**********Adjustments to Contact on Index***********/
  .contact-form button {
    font-size: 2em;
  }
  
}

@media only screen and (min-width: 450px) {
  
  /***LOGO AND BAND PIC***/
  .logo img {
    width: 70%;
  }

  
  /***SOCIAL MEDIA***/
  .social-media {
    margin: 3% 0;
  }
  .social-media ul {
    width: 50%;
  }
  
  
  /***SECTION HEADERS***/
  .section {
    width: 80%;
    margin: auto;
  }
  
  .section h2{
    padding: 2%;
  }
  
  
  /***PHOTO SECTION***/
  #image-gallery ul {
    width: 75%
  }
  
  #overlay img {
    margin-top: 40%;
  }
  
  
  /***VIDEO SECTION***/
  #video-players video {
    width: 80%;
  }
  
  
  /***AUDIO SECTION***/
  
  
  
  /***BIO SECTION***/
  .bio-content {
    text-align: center;
  }
  
  .bio-content p {
    text-align: left;
  }
  
  .bio-content img {
    width: 80%;
  }
  
  .bio-content a {
    text-align: right;
  }
  
  /***BOOKING SECTION***/
  .contact-form {
    margin: auto;
    width: 80%;
  }
  
}


@media only screen and (min-width: 650px) {
  .logo {
    margin-top: 0;
    padding: 0;
  }

  .logo img {
    width: 55%;
    padding: 3%;
  }

  .bandPhotoMainPage {
    width: 75%;
    margin: auto;
    margin-bottom: 10%;
  }

  .social-media {
    padding: 0;
    order: 1;
  }

  .social-media ul {
    width: 35%;
  }

  .section {
    width: 70%;
  }

  #overlay img {
    margin-top: 25%;
  }



}


@media only screen and (min-width: 800px) {

  /***CTA***/
  .disableClickMain {
    pointer-events: none;
  }

  
  /***LOGO AND BAND PIC***/
  .logo {
    margin-top: 0;
    padding: 2%;
  }
  
  .logo img {
    width: 45%;
  }
  

  
  /***Main Setup***/
  
  .pageSelectors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 100vh;
  }
  
  .sectionListElements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
  }

  .section {
    border: none;
    background: none;
  }
  
  .section h2 {
    text-align: center;
    padding: 5%;
    font-size: 1.25em;
  }
  
  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    position: absolute;
    left: 10%;
    top: 220px;
    width: 80%;
    background: linear-gradient(rgba(39, 35, 85,1), rgba(40, 56, 145,.9), rgba(39, 35, 85,.8));
    border-top: 1px solid #fbb141;
    border-bottom: 1px solid #fbb141; 
  }
  
  .bandPhotoMainPage {
    background: linear-gradient(rgba(255, 255, 255,0),rgba(255, 255, 255,.25),rgba(255, 255, 255, 0));
    width: 60%;
    margin: auto;
    order: 1;
    flex-grow: 2;
  }

  .bandPhotoMainPage:hover {
    box-shadow: none;
  }

  .bandPhotoMainPage h3 {
    font-size: 1.5em;
  }
  
  .social-media {
    order: 2;
    margin-bottom: 5%;
  }
  
  .social-media ul {
    width: 25%;
  }
  

  /***PHOTO SECTION***/
  #image-gallery ul {
    width: 75%
  }
  
  #overlay img {
    margin-top: 20%;
    width: 75%;
  }
  

  /***VIDEO tab***/
  #video-players video {
    padding: 2%;
  }
  
  #video-players p {
    margin: auto;
    width: 80%;
  }
  
  #video-players a {
    margin-bottom: 2%;
  }
  

  /***AUDIO tab***/
  #music-player iframe {
    margin-top: 5%;
  }


  /***BIO tab***/
  .bio-content div {
    font-size: 1.1em;
    padding: 0 5%;
  }


  /***CALENDAR tab***/
  .calendar-content iframe {
    margin-top: 5%;
  }


  /***BOOKING tab***/
  .contact-text {
    padding: 2% 10%;
    font-size: 1.1em;
  }

}

@media only screen and (min-width: 900px) {

  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    top: 250px;
    width: 70%;
    left: 15%;
  }

  /***IMAGE tab***/
  #image-gallery li {
    width: 40%;
  }

  /***PRESS tab***/
  .articles {
  padding: 5% 10%;
  }

}

@media only screen and (min-width: 1100px) {
  .logo img {
    width: 30%;
    padding: 0;
  }

  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    top: 200px;
  }

  #overlay img {
    width: 70%;
  }

}

@media only screen and (min-width: 1270px) {

  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    top: 210px;
    width: 60%;
    left: 20%;
  }

  .social-media ul {
    width: 20%;
  }

  #overlay img {
    margin-top: 10%;
    width: 60%;
  }

}

@media only screen and (min-width: 1375px) {

  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    top: 230px;
    width: 55%;
    left: 22.5%;
  }

  .sectionListElements {
    width: 60%;
  }

}

@media only screen and (min-width: 1500px) {

  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    top: 245px;
    width: 50%;
    left: 25%;
  }

  #overlay img {
    margin-top: 5%;
  }

}

@media only screen and (min-width: 1600px) {
  #image-gallery,
  #video-players,
  #music-player,
  .bio-content,
  .press-content,
  .calendar-content,
  .contact-hide {
    top: 260px;
    width: 45%;
    left: 27.5%;
  }
}
