/******Main******/

* {
  box-sizing: border-box;
  color: #fbb040;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(rgb(39, 35, 85), rgb(40, 56, 145), rgb(39, 35, 85));
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100%;
}

p {
  margin: 1.5%;
}

header {
  z-index: 10;
}

footer {
  text-align: center;
}


/********NAV**********/

.main-nav-drop-down {
  position:fixed;
  width: 100%;
  top: 8%;
  margin: auto;
  text-align: center;
}

.main-nav h2 {
  text-align: center;
  margin: 1%;
  cursor: pointer;
  padding: 1.5%;
  border-bottom: 1px dotted #fbb040;
  width: 100%;
}

.main-nav a {
  display: block;
}

.main-nav h2:hover,
.main-nav-touch-start {
  background: rgba(0,0,0, 0.35);
  filter: brightness(1.25);
  cursor: pointer;
}

#buttonAndArrow {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  min-height: 90px;
}

#navArrow {
  width: 20%;
  padding: 3% 0;
}

#buttonAndArrow:hover,
.inDropDown:hover,
.buttonAndArrow-touch-start,
inDropDown-touch-start {
  cursor: pointer;
  filter: brightness(1.25);
}

.nav-button {
  text-align: center;
  padding: 10px;
  background: none;
  border: none;
  font-size: 1.25em;
  letter-spacing: 1em;
  text-indent: 1em;
  width: 100%;
  text-transform: uppercase;
}

nav-button:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
}


.arrowSelected {
  transform:scaleY(-1);
  transition: .8s;
}

.navOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.65); 
}

.spacer {
  height: 50px;
}


/*********Social Media Icons*********/

.social-media {
  padding: 1%;
  margin: 12% 0;
}

.social-media ul {
  display: flex;
  padding: 0px;
  align-content: space-between;
  width: 80%;
  margin: auto;
}

.social-media ul li {
  list-style: none;
  padding: 0 1%;
  text-align: center;
}

.social-media img {
  border-radius: 22%;
  width: 75%;
}

.social-media img:hover {
  filter: brightness(120%);
}


/*********PHOTO Page***********/

.photoPage div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.photoPage div a {
  width: 50%;
  margin-bottom: -1%;
}

.photoPage div img {
  width: 100%;
}

.photoPage div img:hover,
.photoPage-div-img-touch-start {
  filter: brightness(1.25);
}

.photoPage h3 {
  padding: 3%;
}

#photos201617,
#photos201415,
#photos2013 {
  border-top: 1px solid #fbb040;
}

.photoButton {
  text-align: center;
  padding: 1%;
  background: rgba(14, 12, 29, 0.2);
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 3px;
}

.photoButton:hover,
.photoButton-touch-start {
  background: rgba(14, 12, 29, 0.57);
  cursor: pointer;
}

#photoOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8); 
}

#photoOverlay img {
  margin: auto;
  margin-top: 50%;
  width: 98%;
}

#photoOverlay p {
  color: #fdc571;
  margin: auto;
  padding: 1.25%;
  width: 100%;
  text-align: center;
}

/*********VIDEO Page***********/

h3 {
  padding: 3%;
}

.videos {
  display: flex;
  flex-direction: column;
}

#coverVideos,
#witzkeVideos,
#mtsuVideos,
#livingRoomVideos {
    border-top: 1px solid #fbb040;
}

.addBorderBottom {
  border-bottom: 1px solid #fbb040;
}

#mtsuVideos {
  margin-bottom: 8%;
  border-bottom: 1px solid #fbb040;
}

.moreCoverVideos, 
.moreWitzkeVideos,
.moreLivingRoomVideos {
  border-bottom: 1px solid #fbb040;
}

.videos img {
  width: 100%;
}

.videos img:hover
.videos-img-touch-start {
  cursor: pointer;
}

.individualVideos {
  position: relative;
  margin-bottom: -1%;
}

.blurred {
  filter: blur(2px) brightness(1.25);
}

.coverText {
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30%;
  background: rgba(0,0,0,.8);
  padding-top: 1.5%;
}

.coverText h3 {
  color: #fbb040;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0;
}

.coverText p {
  color: #fbb040;
  font-weight: 200;
}

#videoOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

#popUpVideo {
  position: fixed;
  top: 40%;
  left: 5%;
  right: 5%;
  z-index: 10;
}

#popUpVideo iframe {
  width: 100%;
}

.videoMoreButton {
  text-align: center;
  padding: 1%;
  background: rgba(14, 12, 29, 0.2);
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 3px;
}

.videoMoreButton:hover,
.videoMoreButton-touch-start {
  background: rgba(14, 12, 29, 0.57);
  cursor: pointer;
}


/*********AUDIO Page***********/

.audio h2 {
  padding: 0 0 1% 2%;
}

.audio p {
  padding: 5%;
}

.audio ul {
  list-style: none;
  padding: 0;
  padding-bottom: 2%;
  text-align: center;
  display: flex; 
  flex-direction: column;
  margin-bottom: 3%;
  width: 75%;
  margin: auto;
  background: rgba(0,0,0,.5);
  border-radius: 2%;
  margin-bottom: 5%;
}

.audio li {
  margin: auto;
  padding-bottom: 4%;
}

.audio li:hover,
audio-li-touch-start {
  filter: brightness(1.25);
}

.audio li img {
  position: relative;
  top: 15px;
  width: 40px;
  margin-right: 5px;
  padding: 1%;
}

.audio ul a {
  padding: 5% 15%;
}

.music-content {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.music-content iframe:hover {
  filter: brightness(1.25);
}

/*********BIO Page***********/

h1 {
  padding: 2%;
}

.bioPageContent {
  background: rgba(0,0,0,.35);
}

.bio-page p {
  padding: 3%;
  margin: 0;
}

.member-list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3%;
}

.member-list ul {
  padding: 0px;
  margin: auto;
}

.member-list li {
  list-style: none;
  padding: 5px;
  text-align: center;
}


.bio-page img {
  width: 100%;
  border-top: 1px solid #fbb040;
  border-bottom: 1px solid #fbb040;
}


/*********PRESS AND PERFORMANCE Page***********/

.pressContent,
.performanceContent {
  display: flex;
  flex-flow: column;
  padding: 5%;

}

.pressAndPerformance img {
  width: 100%;
  border-bottom: 1px solid #fbb040;
  border-top: 1px solid #fbb040;
}

.pressContent li,
.performanceContent li {
  list-style-type: none;
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.25%;
}

.pressAndPerformance h2 {
  padding: 2%;
  margin-top: 1.5%;
}

.article,
.performance {
  border: 1px solid #fbb040;
  background: rgba(0,0,0,.25);
  padding: 2%;
  margin-bottom: 5%;
}

.article:hover {
  filter: brightness(120%);
}


/*********BOOKING/CONTACT Page***********/
.contact-form {
  display: flex;
  flex-direction: column;
}

.booking-inqueries {
  display: flex;
  margin-bottom: 5%;
  border: none;
  border-top: 1px solid #fbb040;
  border-bottom: 1px solid #fbb040;
  background: rgba(0,0,0,.25);
}

.booking-inqueries legend {
  font-size: 1.25em;
}

.booking-inqueries label {
  padding: 1.25%;
}

.booking-inqueries input {
  width: 100%;
  padding: 1.5%;
  margin-bottom: 2%;
  font-size: 1.25em;
  color: #2a2350;
}

.booking-inqueries textarea {
  width: 100%;
  height: 80px;
  color: #2a2350;
  font-size: 1.25em;
}

.contact-form button {
  background: #fbb040;
  color: #2a2350;
  border-width: 0px;
  padding: 2%;
  font-size: 1em;
  border-radius: 3px;
  width: 75%;
  margin: auto;
  margin-bottom: 5%;
  cursor: pointer;
}

.contact-form button:hover {
  box-shadow: 0 0 10px 5px rgba(0,0,0,.25);
  color: #fff;
}

/***********media query for small mobile screens in portrait*************/

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  
  /**********Adjustments base font sizes***********/
  
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.75em;
  }
  
  /**********Adjustments to nav***********/
  
  .nav-button {
    font-size: 3em;
  }
  
  .main-nav h2 {
    border-bottom: 3px dotted #fbb040;
  }
  
}

