/******Main******/

* {
  box-sizing: border-box;
  color: #fbb040;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: rgb(42, 35, 80);
  background: linear-gradient(rgb(39, 35, 85), rgb(40, 56, 145)10%, rgb(39, 35, 85));
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100%;
}

p {
  margin: 1.5%;
}

footer {
  text-align: center;
}


/********NAV**********/

.main-nav h2 {
  text-align: center;
  margin: 1%;
  cursor: pointer;
  padding: 1.5%;
  border-bottom: 1px dotted #fbb040;
}

.main-nav h2:hover {
  background: rgba(14, 12, 29, 0.2);
  cursor: pointer;
}

.nav-button {
  text-align: center;
  padding: 10px;
  background: none;
  border: none;
  font-size: 1.25em;
  letter-spacing: 1em;
  width: 100%;
  text-transform: uppercase;
}

.nav-button:hover,
#navArrow:hover {
  cursor: pointer;
  filter: brightness(130%);
}

header {
  display: flex;
  flex-direction: column;
}

#navArrow {
  width: 20%;
  margin: auto;
  padding: 3% 0;
}

.arrowSelected {
  transform:scaleY(-1);
  transition: .8s;
}


/*********PHOTO Page***********/

.photoPage div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.photoPage div a {
  width: 50%;
  margin-bottom: -1%;
}

.photoPage div img {
  width: 100%;
}

.photoPage h3 {
  padding: 3%;
}

#photos201617,
#photos201415,
#photos2013 {
  border-top: 1px solid #fbb040;
}

.photoButton {
  text-align: center;
  padding: 1%;
  background: rgba(14, 12, 29, 0.2);
  width: 50%;
  margin: auto;
  margin-top: 2%;
  border-radius: 3px;
}

.photoButton:hover {
  background: rgba(14, 12, 29, 0.57);
  cursor: pointer;
}

#photoOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

#photoOverlay img {
  margin: auto;
  margin-top: 50%;
  width: 98%;
}

#photoOverlay p {
  color: #fdc571;
  margin: auto;
  padding: 1.25%;
  width: 100%;
  text-align: center;
}

/*********VIDEO Page***********/

h3 {
  padding: 3%;
}

.videos {
  display: flex;
  flex-direction: column;
}

#highlightedVideos,
#coverVideos,
#witzkeVideos,
#mtsuVideos,
#livingRoomVideos {
    border-top: 1px solid #fbb040;
}

.videos img {
  width: 100%;
}

.videos img:hover {
  cursor: pointer;
}

.individualVideos {
  position: relative;
  margin-bottom: -1%;
}

.coverText {
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30%;
  background: rgba(0,0,0,.8);
  padding-top: 1.5%;
}

.coverText h3 {
  color: #fbb040;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0;
}

.coverText p {
  color: #fbb040;
  font-weight: 200;
}

#videoOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

#popUpVideo {
  position: fixed;
  top: 40%;
  left: 5%;
  right: 5%;
  z-index: 10;
}

#popUpVideo iframe {
  width: 100%;
}

.videoMoreButton {
  text-align: center;
  padding: 1%;
  background: rgba(14, 12, 29, 0.2);
  width: 50%;
  margin: auto;
  margin-top: 2%;
  border-radius: 3px;
}

.videoMoreButton:hover {
  background: rgba(14, 12, 29, 0.57);
  cursor: pointer;
}




/*********BIO Page***********/

h1 {
  padding: 2%;
}

.bio-page p {
  padding: 2% 3%;
}

.member-list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3%;
}

.member-list ul {
  padding: 0px;
  margin: auto;
}

.member-list li {
  list-style: none;
  padding: 5px;
  text-align: center;
}


.bio-page img {
  width: 100%;
  border-top: 1px solid #fbb040;
}


/*********PRESS AND PERFORMANCE Page***********/

.pressContent,
.performanceContent {
  display: flex;
  flex-flow: column wrap;
  padding: 5%;

}

.pressAndPerformance img {
  width: 100%;
  border-bottom: 1px solid #fbb040;
  border-top: 1px solid #fbb040;
}

.pressContent li,
.performanceContent li {
  list-style-type: none;
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.25%;
}

.pressAndPerformance h2 {
  padding: 2%;
  margin-top: 1.5%;
}

.article,
.performance {
  border: 1px solid #fbb040;
  background: rgba(0,0,0,.2);
  padding: 2%;
  margin-bottom: 5%;
}

.article:hover {
  filter: brightness(120%);
}
