@keyframes fifth-slide {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,250px,0);
  }
}

@keyframes fourth-slide {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,200px,0);
  }
}

@keyframes main-slide {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,150px,0);
  }
}

@keyframes third-slide {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,100px,0);
  }
}

@keyframes second-slide {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,50px,0);
  }
}

@keyframes front-slide {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,25px,0);
  }
}

@keyframes blimp-bounce {
  0% {
    transform: translate3d(0,-5%,0);
  }
  100% {
    transform: translate3d(0,5%,0);
  }
}
