.background-container {
  position: fixed;
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
}

.svg-container {
  position: absolute;
  @media screen and (min-width: 1000px) {
    position: relative;
  }
  height: auto;
  width: 100%;
  padding-bottom: 100%;
  bottom: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flat-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spot-light {
  transform-origin: bottom left;
  animation: rotate-left 4.5s cubic-bezier(0.42, 0, 0.23, 1.37) forwards;
}

.spot-light-2 {
  transform-origin: bottom right;
  animation: rotate-right 5s cubic-bezier(0.42, 0, 0.23, 1.37) forwards;
}

.blimp {
  animation: blimp-rise 5s ease-in-out forwards, blimp-bounce 2s ease-in-out alternate infinite 5s;
}











